/* Color Configs */

/* Text Colors */
$default: rgba(64, 64, 64, 1);
$description: rgba(82, 82, 82, 1);

/* Color Palette */
$ghost: rgba(245, 245, 250, 0.6);
$seaSalt: rgba(252, 252, 252, 1);
$platinum: rgba(230, 230, 230, 1);
