/* Import color configs (./_variables/colors.scss) */
@import '../../_variables/colors';

.button {
  padding: 1em;

  color: $description;
  background-color: $seaSalt;

  border: none;
  border-radius: 1em;

  box-shadow: $platinum 0 2px 2px;

  cursor: pointer;

  transition: 120ms ease;

  &:active {
    transition: 120ms ease;
    transform: scale(0.8);
    box-shadow: none;
  }
}
