/* Import typographic configs (./_variables/typography.scss) */
@import '_variables/typography';

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html,
body {
  // Configs
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

.background {
  position: fixed;

  inset: 0;

  min-height: 100vh; // To prevent rescaling in mobile view.

  background-image: url('../../public/bg.svg');
  background-size: auto;
  background-position: top center;
  background-origin: border-box;
  background-repeat: no-repeat;

  z-index: -10;

  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 767px) {
  .background {
    background-position: 0 center;
  }
}
