/* Import color configs (./_variables/typography.scss) */
@import '../../_variables/colors';

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 2em;
  padding: 2em;

  border-radius: 2em;

  backdrop-filter: sepia(30%) blur(5px);

  .form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
  }
}

@media screen and (max-width: 575px) {
  .main {
    flex-direction: column;

    padding: 1em;

    .form {
      width: 100%;

      padding-top: 2em;
    }
  }
}
